<!DOCTYPE html>
<html>
<head>
	<title>SEBI Alerts Application</title>
	<meta charset = "ISO-8859-1" />
 <!--   <link href = "css/styles.css" rel = "stylesheet"/> --> 
</head>
<body>
      <table style="border:0px">
         <tr style="width:100%">
            <td style="width:5%"><a href="/"> <img th:src="@{/SEBI_logo.jpg}"/></a> </td>
            <td style="width:95%;text-align:center;font-family:Verdana;font-size:200%"> Visitor Alerts Reports Home Page </td>
         </tr>
      </table>
      <hr style="margin-left:20%;margin-right:20%"/>
      <br/><br/>
      
     <p>
        <span style="margin-left:25%;font-size:30px">Menu <br><br></span>
        <a style="margin-left:25%;font-size:20px" href="/api/vea/reports">Visitor Alert Reports Form</a> 
        <br/><br/>
  <!--     <a style="margin-left:25%;font-size:20px" href="/">Job Logs</a> 
        <br/><br/>
        <a style="margin-left:25%;font-size:20px" href="/">User Admin</a>   --> 
        <br/><br/><br/><br/>
        
        <hr style="margin-left:20%;margin-right:20%;margin-top:20%;margin-bottom:10%"/>
    </p>
    <table  style="border:0px;margin-top:10%;margin-bottom:5%;margin-left:80%">
      <tr>
         <td>&#169; AREA KPI Technology </td>
      </tr>
      </table>
</body>
</html>