<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <!-- <link href = "css/styles.css" rel = "stylesheet" /> -->
      <script language="javascript">
         function dateCheck(){
         
             let startDate = document.getElementById("startDate").value;
             let endDate =  document.getElementById("endDate").value;
         
             if(startDate > endDate) {
                 document.getElementById("submitButton").disabled = true;
                 alert("End date must be after the Start Date");
             } else {
                 document.getElementById("submitButton").disabled = false;
             }
         }
         
         function allReportsFileCheck() {
           document.getElementById("generateMediaVisitorReport").checked = document.getElementById("generateAllReports").checked;
           document.getElementById("generateFreqencyCheck7").checked = document.getElementById("generateAllReports").checked;
           document.getElementById("generateFreqencyCheck14").checked = document.getElementById("generateAllReports").checked;
           document.getElementById("generateFreqencyCheck30").checked = document.getElementById("generateAllReports").checked;
           document.getElementById("generateOutOfOfficeHoursReport").checked = document.getElementById("generateAllReports").checked;

           document.getElementById("generateBrokerReport").checked = document.getElementById("generateAllReports").checked;
           fileCheck(document.getElementById("generateBrokerReport"));
           document.getElementById("generateEmployeeWatchReport").checked = document.getElementById("generateAllReports").checked;
           fileCheck(document.getElementById("generateEmployeeWatchReport"));
           document.getElementById("generateGovtReport").checked = document.getElementById("generateAllReports").checked;
           fileCheck(document.getElementById("generateGovtReport"));
           document.getElementById("generateVisitorWatchListReport").checked = document.getElementById("generateAllReports").checked;
           fileCheck(document.getElementById("generateVisitorWatchListReport"));
         }
         
         function fileCheck(srcElement){
        
           let uploadFileButtonName = srcElement.name+"ListFile";
           let requiredLabelButton = srcElement.name+"LabelRequired";
           
           // console.log(uploadFileButtonName);
         
		     let listFile = document.getElementById(uploadFileButtonName);
		     let requiredLabel = document.getElementById(requiredLabelButton);
             if(srcElement.checked) {
                 listFile.disabled = false;
                 requiredLabel.innerHTML = "*";
             } else {
                listFile.disabled = true;
                requiredLabel.innerHTML = "";
             }
         }

         function validate() {
         
           let errorLabel = document.getElementById("errorLabel");
           if ((document.getElementById("generateAllReports").checked || document.getElementById("generateBrokerReport").checked)
              && document.getElementById("generateBrokerReportListFile").files.length == 0) {
              errorLabel.innerHTML = "Broker list file must be specified if All Reports or Broker Report is selected";
              event.preventDefault();
           }
           if ((document.getElementById("generateAllReports").checked || document.getElementById("generateEmployeeWatchReport").checked)
              && document.getElementById("generateEmployeeWatchReportListFile").files.length == 0) {
              errorLabel.innerHTML = "Employee Watch list file must be specified if All Reports or Employee Watch Report is selected";
              event.preventDefault();
           }
           if ((document.getElementById("generateAllReports").checked || document.getElementById("generateGovtReport").checked)
              && document.getElementById("generateGovtReportListFile").files.length == 0) {
              errorLabel.innerHTML = "Government Org list file must be specified if All Reports or Government Visitor Report is selected";
              event.preventDefault();
           }
           if ((document.getElementById("generateAllReports").checked || document.getElementById("generateVisitorWatchListReport").checked)
              && document.getElementById("generateVisitorWatchListReportListFile").files.length == 0) {
              errorLabel.innerHTML = "Visitor Watch list file must be specified if All Reports or Visitor Watch Report is selected";
              event.preventDefault();
           }
         }
         
      </script>
      
      
        <!-- <script th:src="@{assets/custom-file-input/bs-custom-file-input.js}"></script> -->
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

       
   </head>
   <body style="font-family:Verdana">
      <table>
         <tr style="border:0;width:100%">
            <td style="width:5%"><a href="/"> <img th:src="@{/SEBI_logo.jpg}"/></a> </td>
            <td style="width:95%;text-align:center;font-family:Verdana;font-size:200%"> Visitor Alerts Reports </td>
         </tr>
      </table>
      <hr style="margin-left:20%;margin-right:20%;"/>
      <br/><br/>
      <form action="#" th:action="@{/api/vea/generateReports}" th:object="${requestReportsForm}" method="POST" enctype="multipart/form-data">
         <table style="border:0;width:60%;margin-left:20%">
            <tr>
               <td colspan="1"/>
               <td colspan="1" style="text-align:right;width:20%"><label for="start">Select Start Date:</label></td>
               <td colspan="2" style="width:30%"><input type="date" th:field="*{startDate}" id="startDate" name="startDate" value="2022-07-22" min="2022-01-01"></td>
               <td colspan="2" style="text-align:right;width:20%"><label for="end">Select End Date:</label></td>
               <td colspan="2" style="width:30%"><input type="date" th:field="*{endDate}" id="endDate" name="endDate" value="2022-07-22" min="2022-01-01" onChange="dateCheck()"></td>
            <tr/>
            <tr>
               <td colspan="8"> <br/> <br/> 
            </tr>
            <tr>
               <td colspan="1"/>
               <td colspan="7">
                  <h4>Select the Reports to generate</h4>
               </td>
            </tr>
            <tr>
               <td colspan="1" style="text-align:right"><input type="checkbox" id="generateAllReports" name="generateAllReports" onChange="allReportsFileCheck()" /></td>
               <td colspan="7" style="text-align:left"><label for="generateAllReports">All Reports</label></td>
            <tr/>
            <tr rowspan="2">
              <td colspan="8">&nbsp;&nbsp;</td>
            </tr>            
            <tr>
               <td colspan="1" style="text-align:right"><input type="checkbox" id="generateMediaVisitorReport" name="generateMediaVisitorReport"/></td>
               <td colspan="7" style="text-align:left"><label for="generateMediaVisitorReport">Media Visitor Report</label></td>

            </tr>            
            <tr>
               <td colspan="1" style="text-align:right"><input type="checkbox" id="generateFreqencyCheck7" name="generateFreqencyCheck7"/></td>
               <td colspan="7" style="text-align:left"><label for="generateFreqencyCheck7">Visitor Frequency Check Report - 7 days</label></td>

            </tr>
            <tr>
               <td colspan="1" style="text-align:right"><input type="checkbox" id="generateFreqencyCheck14" name="generateFreqencyCheck14"/></td>
               <td colspan="7" style="text-align:left"><label for="generateFreqencyCheck14">Visitor Frequency Check Report - 14 days</label></td>

            </tr>
            <tr>
               <td colspan="1" style="text-align:right"><input type="checkbox" id="generateFreqencyCheck30" name="generateFreqencyCheck30"/></td>
               <td colspan="7" style="text-align:left"><label for="generateFreqencyCheck30">Visitor Frequency Check Report - 30 days</label></td>

            </tr>
            <tr>
               <td colspan="1" style="text-align:right"><input type="checkbox" id="generateOutOfOfficeHoursReport" name="generateOutOfOfficeHoursReport"/></td>
               <td colspan="7" style="text-align:left"><label for="generateOutOfOfficeHoursReport">Out of Office Hours Report</label></td>
  
            </tr>
            <tr>
               <td colspan="1" style="text-align:right"><input type="checkbox" id="generateBrokerReport" name="generateBrokerReport"  onChange="fileCheck(this)"/></td>
               <td colspan="2" style="text-align:left"><label for="generateBrokerReport">Broker List Report</label></td>
               <td colspan="5">
                    <label style="color:red" id="generateBrokerReportLabelRequired"></label>
                    <input type="file" class="custom-file-input" id="generateBrokerReportListFile" name="generateBrokerReportListFile"  disabled="true">
                </td>

            </tr>
            <tr>
               <td colspan="1" style="text-align:right"><input type="checkbox" id="generateEmployeeWatchReport" name="generateEmployeeWatchReport" onChange="fileCheck(this)"/></td>
               <td colspan="2" style="text-align:left"><label for="generateEmployeeWatchReport">Employee Watch List Report</label></td>
               <td colspan="5">
                  <label style="color:red" id="generateEmployeeWatchReportLabelRequired"></label>
                  <input type="file" class="custom-file-input" id="generateEmployeeWatchReportListFile" name="generateEmployeeWatchReportListFile" disabled="true"> 
               </td>

            </tr>
            <tr>
               <td colspan="1" style="text-align:right"><input type="checkbox" id="generateGovtReport" name="generateGovtReport" onChange="fileCheck(this)"/></td>
               <td colspan="2" style="text-align:left"><label for="generateGovtReport">Government Visitor Report</label></td>
               <td colspan="5">
                 <label style="color:red" id="generateGovtReportLabelRequired"></label>
                  <input type="file" class="custom-file-input" id="generateGovtReportListFile" name="generateGovtReportListFile"   disabled="true">
               </td>

            </tr>
            <tr>
               <td colspan="1" style="text-align:right"><input type="checkbox" id="generateVisitorWatchListReport" name="generateVisitorWatchListReport" onChange="fileCheck(this)"/></td>
               <td colspan="2" style="text-align:left"><label for="generateVisitorWatchListReport">Visitor Watch List Report</label></td>
               <td colspan="5">
               <label style="color:red" id="generateVisitorWatchListReportLabelRequired"></label>
                 <input type="file" class="custom-file-input" id="generateVisitorWatchListReportListFile" name="generateVisitorWatchListReportListFile" disabled="true">
               </td>

            </tr> 

            <tr rowspan="2">
              <td colspan="8">&nbsp;&nbsp;</td>
            </tr>
            <tr rowspan="2">
              <td colspan="8">&nbsp;&nbsp;</td>
 
            </tr>
            <tr>
               <td colspan="3" style="text-align:left"><label for="generateMediaVisitorReport">Enter comma separated list of email addresses for Reports</label></td>         
               <td colspan="5" style="text-align:left"><input type="text" id="emailTo" name="emailTo" size="40" value="pns@sebi.gov.in"/></td>
            </tr> 
            
            <tr rowspan="2">
              <td colspan="8">&nbsp;&nbsp;</td>
 
            </tr>
            <tr >
               <td colspan="6"/>
               <td style="text-align:left"> <input  style="font-size:120%" type="submit" id="submitButton" disabled="true" onClick="validate()"/> </td>
            </tr>
            <tr>
               <td colspan="8" style="text-align:left;color:red"><label id="errorLabel" name="errorLabel"></label></td>

            <tr/>
         </table>
      </form>
      <br/> <br/>
      <hr style="margin-left:20%;margin-right:20%;"/>
      <table style="border:0px;margin-top:5%;margin-left:80%">
	      <tr>
	         <td>&#169; AREA KPI Technology </td>
	      </tr>
      </table>
   </body>
</html>