<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
   </head>
   <body>
      <h4>SEBI Alerts Reports</h4>
      <label for="start">Start date:</label>
      <form action="#" th:action="@{/list}" th:object="${requestReportsForm}" method="POST">
      <input type="date" th:field="*{startDate}" value="2022-07-22" min="2022-01-01">
      <label for="end">End date:</label>
      <input type="date" th:field="*{endDate}" value="2022-07-22" min="2022-01-01">
         <input type="submit"/>
      </form>
   </body>
</html>