<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      <link href = "css/styles.css" rel = "stylesheet"/>
   </head>
   <body>
      <h4>SEBI Alerts Reports</h4>
      <label for="start">Start date:</label>
      <input type="date" id="start" name="trip-start"
         value="2018-07-22"
         min="2018-01-01">
      <label for="end">End date:</label>
      <input type="date" id="end" name="trip-end"
         value="2018-07-22"
         min="2018-01-01">
      <form action="/list" method="POST">
         <input type="submit"/>
      </form>
   </body>
</html>